@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 'Amatic SC', cursive;
'Roboto', sans-serif;
#565a5d;
#fcfcfc; */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 98vw;
    height: 98vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #565a5d;
}

header {
    width: 50%;
}

#firstitre {
    display: flex;
    font-size: 4em;
    color: #fcfcfc;
    text-align: center;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    position: relative;
    margin-bottom: 30px;
    margin-top: 50px;
}

#firstitre::after {
    height: 250px;
    width: 500px;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(asset/img/cat-god.jpg);
    transform: translate(690px, -50px);
}

#texetheader {
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    text-indent: 25px;
}

main {
    width: 50%;
}

.titrechatarticle {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    word-spacing: 25px;
    color: #fcfcfc;
}

.texetchatarticle {
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    text-indent: 25px;
    margin-bottom: 35px;
}

#sitation {
    margin-top: 100px;
    color: #fcfcfc;
    text-align: center;
    line-height: 50px;
    text-indent: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

#auteursitutation {
    color: #fcfcfc;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 150px;
}

footer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edenschoolimg {
    width: 120px;
}

#footerp {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fcfcfc;
}

#footersource {
    font-family: 'Roboto', sans-serif;
    color: #fcfcfc;
    text-align: center;
}

#fbleucolor {
    color: #5bc6c3;
}